.header .container {
  display: flex;
  align-items: center;
}

.nav-list {
  display: none;
}

.nav-link {
  display: block;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.curren::after {
  content: "";
  display: block;
  width: 100%;
  border-radius: 2px;
  height: 4px;
  background-color: #404bbf;
  position: absolute;
  left: 0;
  bottom: 0;
}

.nav {
  font-weight: 500;
  color: #2e2f42;
}

.nav a:hover,
.nav a:focus,
.nav-link.curren {
  color: #404bbf;
}

.info-list {
  display: none;
}

.header address {
  margin-left: auto;
}

@media only screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    gap: 40px;
    margin-left: 120px;
    margin-right: auto;
    align-items: center;
  }
  .info-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    margin-left: auto;
  }
}

@media only screen and (min-width: 1158px) {
  .nav-list {
    margin-left: 76px;
  }
  .info-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
}
