.section-hero {
  background-color: #2e2f42;
  max-width: 1440px;
  margin: 0 auto;
  padding: 72px 0;
  background-image:
    linear-gradient(
      180deg,
      rgba(46, 47, 66, 0.7) 0%,
      rgba(46, 47, 66, 0.7) 100%
    ),
    image-set(
      url("../images/hero-bg-mobile (1).jpg") 1x,
      url("../images/hero-bg-mobile (2).jpg") 2x
    );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: #fff;
  margin: 0 auto 72px;
  max-width: 212px;
}

@media only screen and (min-width: 768px) {
  .section-hero {
    padding: 112px 0;
    background-image:
      linear-gradient(
        180deg,
        rgba(46, 47, 66, 0.7) 0%,
        rgba(46, 47, 66, 0.7) 100%
      ),
      image-set(
        url("../images/hero-bg-tablet.jpg") 1x,
        url("../images/hero-bg-tablet @2x.jpg") 2x
      );
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07143;
    margin: 0 auto 36px;
    max-width: 496px;
  }
}

@media only screen and (min-width: 1024px) {
  .section-hero {
    padding: 188px 0;
    background-image:
      linear-gradient(
        180deg,
        rgba(46, 47, 66, 0.7) 0%,
        rgba(46, 47, 66, 0.7) 100%
      ),
      image-set(
        url("../images/hero-bg(1).jpg") 1x,
        url("../images/hero-bg(2).jpg") 2x
      );
  }

  .hero-title {
    margin: 0 auto 48px;
  }
}
